@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>Here you can find all to does and create new</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<div id="tableDiv"></div>
<button onclick="createNew()">Create new task</button>

<div></div>

<div id="createTasks"></div>
<button onclick="viewAll()">View all tasks</button>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/CustomScripts/BuildTable.js"></script>
}

<script>
    function viewAll() {
        $("#tableDiv").load("/ToDoes/BuildToDoTable");
    }

    function createNew() {
        $("#createTasks").load("/ToDoes/Create");
    }
</script>

